@import "tailwindcss";
@import "tw-animate-css";

.my-theme-overrides {
  font-family: sans-serif;
  &.str-video {
    color: white;
  }
}

.my-theme-overrides .str-video__speaker-layout__wrapper {
  color: white;
}
